<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletControleur</servlet-name>
        <servlet-class>gestionContact.ServletControleur</servlet-class>
        <init-param>
            <param-name>formatDate</param-name>
            <param-value>yyyy/MM/dd</param-value>
        </init-param>
        <init-param>
            <param-name>formatDateSqlServer</param-name>
            <param-value>dd/MM/yyyy</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControleur</servlet-name>
        <url-pattern>/ServletControleur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
